
.objetos{
    box-shadow: 1px 1px 1px black;
    margin: 10px;
    background-color: brown;
    padding: 20px;
    height: 200px;

}
.objetos:nth-of-type(even){
    background-color: aqua;
}
.objetos:hover{
    transition: 
    height 1.5s,
    background-color 1.5s;
    box-shadow: 3px 3px 3px black;
    height: 220px;
background-color: green;
cursor: pointer;
}